/**
 * @name Anicord
 * @description Yes, this is another anime Discord theme. 
 * @author sangsdayy
 * @version 1.5.8
 * @website https://github.com/sang765/Anicord-Theme
 * @source https://github.com/sang765/Anicord-Theme/blob/main/Anicord.theme.css
 * @authorId 926519119849869322
*/

/*
ᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳ𝑨𝒏𝒊𝒎𝒆 𝒊𝒏𝒔𝒊𝒅𝒆 𝑫𝒊𝒔𝒄𝒐𝒓𝒅ᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳ
| ᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳ |
| |     █████╗ ███╗   ██╗██╗ ██████╗ ██████╗ ██████╗ ██████╗    | |
| |    ██╔══██╗████╗  ██║██║██╔════╝██╔═══██╗██╔══██╗██╔══██╗   | |
| |    ███████║██╔██╗ ██║██║██║     ██║   ██║██████╔╝██║  ██║   | |
| |    ██╔══██║██║╚██╗██║██║██║     ██║   ██║██╔══██╗██║  ██║   | |
| |    ██║  ██║██║ ╚████║██║╚██████╗╚██████╔╝██║  ██║██████╔╝   | |
| |    ╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚═════╝    | |
| ᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳ |
|ᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳᅳ
*/  

/* Theme Import */
@import url('https://sang765.github.io/Anicord-Theme/themes/Anicord.css');
/* CSS You Can Custom */
:root {
	--app-bg: url(https://sang765.github.io/Anicord-Theme/assets/themeimage.png); /* background */
	/* 📄 NOTE: If you want the background to be transparent then you can remove the `url(imageurl)` and then change the attribute to `transparent`
           Requirements: Please enable "Windows Transparent" in your client mod make sure that work. You aslo can use Mica For Everyone to have a transparent backgound with Mica blur effect */
	--app-blur: 5px;
	--app-margin: 24px;
	--app-radius: 10px; /*	-	*/

	--main-font: 'Tilt Neon';
	--code-font: '';
	
	--accent-hue: 204; /*	Main Color	*/
	--accent-saturation: 80%;
	--accent-lightness: 65%;
	--accent-opacity: 1;
	--accent-text-color: #fff; /*	-	*/

	--sidebar-color: rgba(0,0,0,0.4);
	--main-content-color: rgba(0,0,0,0.2); /*	-	*/

	--message-color: rgba(0,0,0,0.4);
	--message-radius: 8px;
	--message-padding-top: 8px;
	--message-padding-side: 8px; /*	-	*/
	
	--reply-hue: 226;
	--reply-saturation: 77.4%;
	--reply-lightness: 61.8%;
	--reply-opacity: 1; /*	-	*/
  
	--textarea-color: 255,255,255;
	--textarea-alpha: 0.1;
	--textarea-alpha-focus: 0.15;
	--textarea-text-color: #fff;
	--textarea-radius: 22px;  /*	-	*/

	--card-color: rgba(0,0,0,0.4);
	--card-color-hover: rgba(0,0,0,0.5);
	--card-color-select: rgba(0,0,0,0.7); /*	-	*/
	
	--button-height: 32px;
	--button-padding: 0 16px;
	--button-action-color: #000;
	--button-radius: 16px; /*	-	*/

	--interactive-normal: #aaa;
	--interactive-hover: #ddd;
	--interactive-active: #fff;
	--interactive-muted: #777; /*	-	*/

	--background-modifier-hover: rgba(255,255,255,0.075);
	--background-modifier-selected: rgba(255,255,255,0.125);

	  /* SETTING MODAL */
  	--settingsinline-size: 960;
  	--settingsblock-size: 80;
  	--settingsbackground: transparent;
}

/*credits*/
/*
========================= Anicord Squad =========================
 sang765                                       Author
=================================================================
 Settings Icons                           by DevilBro
 Better Mark As Read Button               by Lonk
 Chillax                                  by warrayquipsome
 Translucence                             by CapnKitten
 ClearVersionV6                           by NyxIsBad and Contributors
=================================================================
*/
/* And you, users. Thank for all */
