/**
 * @name AniCord
 * @version 1.0
 * @description A Fancy Discord theme
 * @author HaTienSang
 * @source https://github.com/sang765/Anicord-Theme
 * @website https://sang765.github.io/Anicord-Theme
 */

/* Theme Import */
@import url(https://raw.githubusercontent.com/sang765/AniCord-Theme/main/Anicord/css/source.css);

/* CSS You Can Custom */
:root {
	--app-bg:url(https://cdn.discordapp.com/attachments/1003496457103495248/1196322083530080317/Screenshot_45.png?ex=65ee93c3&is=65dc1ec3&hm=4bf6a64a8650b301fe673f38b158389227c29d26a48c7c1a450acaf4811c226b&); /* background */
	--app-blur: 0px;
	--app-margin: 24px;
	--app-radius: 23px; /*	-	*/
	
	--accent-hue: 264; /* Main Color */
	--accent-saturation: 30.5%;
	--accent-lightness: 30.1%;
	--accent-opacity: 1;
	--accent-text-color: #fff; /*	-	*/

	--sidebar-color: rgba(0,0,0,0.4);
	--main-content-color: rgba(0,0,0,0.2); /*	-	*/

	--message-color: rgba(0,0,0,0.4);
	--message-radius: 8px;
	--message-padding-top: 8px;
	--message-padding-side: 8px; /*	-	*/
	
	--reply-hue: 226;
	--reply-saturation: 77.4%;
	--reply-lightness: 61.8%;
	--reply-opacity: 1; /*	-	*/
  
	--textarea-color: 255,255,255;
	--textarea-alpha: 0.1;
	--textarea-alpha-focus: 0.15;
	--textarea-text-color: #fff;
	--textarea-radius: 22px;  /*	-	*/

	--card-color: rgba(0,0,0,0.4);
	--card-color-hover: rgba(0,0,0,0.5);
	--card-color-select: rgba(0,0,0,0.7); /*	-	*/
	
	--button-height: 32px;
	--button-padding: 0 16px;
	--button-action-color: #000;
	--button-radius: 16px; /*	-	*/

	--interactive-normal: #aaa;
	--interactive-hover: #ddd;
	--interactive-active: #fff;
	--interactive-muted: #777; /*	-	*/

	--background-modifier-hover: rgba(255,255,255,0.075);
	--background-modifier-selected: rgba(255,255,255,0.125);
}
