@import url("https://feorev.github.io/Themes/Discord/PublicSnippets/ConnectionsColorizer.css");
@import url("https://dablulite.github.io/css-snippets/BetterStatusPicker/import.css");
@import url("https://minidiscordthemes.github.io/MinimalAddonCards/MinimalAddonCards.theme.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css");
@import url("https://dablulite.github.io/css-snippets/AccountDetailsGrid/import.css");
@import url("https://dablulite.github.io/css-snippets/BetterAuthApps/import.css");
@import url("https://raw.githubusercontent.com/Panniku/vc-snippets/main/BetterSpotifyPlayer.css");
@import url("https://sang765.github.io/Discord-CSS-Snippets/Center%20Profile/CenterProfile.theme.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css");
/* Addons ONLY work with Translucent and Anicord Theme */
@import url('https://sang765.github.io/Anicord-Theme/themes/ThemeAddons/IconColors.addon.css');
@import url('https://sang765.github.io/Anicord-Theme/themes/ThemeAddons/ColoredMentionsRemakeVersion.addon.css');
/* END */