@import url("https://feorev.github.io/Themes/Discord/PublicSnippets/ConnectionsColorizer.css");
@import url("https://stevencaior.github.io/discord_themes/addons/SocialLinks_SourrR34.css");
@import url("https://raw.githubusercontent.com/lumap/css-snippets/main/make-bios-long.css");
@import url("https://raw.githubusercontent.com/SEELE1306/CSS-Snippets/main/GuildBoost/import.css");
@import url("https://dablulite.github.io/css-snippets/BetterStatusPicker/import.css");
@import url("https://minidiscordthemes.github.io/MinimalAddonCards/MinimalAddonCards.theme.css");
@import url("https://dablulite.github.io/css-snippets/AccountDetailsGrid/import.css");
@import url("https://dablulite.github.io/css-snippets/BetterAuthApps/import.css");
@import url("https://raw.githubusercontent.com/SEELE1306/CSS-Snippets/main/BetterProfiles/import.css");
@import url("https://raw.githubusercontent.com/SEELE1306/CSS-Snippets/main/MessageUltilities/TimestampBubbles/import.css");
@import url("https://davart154.github.io/Themes/Snippets/Colored%20Mentions/ColoredMentionsSource.css");
@import url("https://raw.githubusercontent.com/Panniku/vc-snippets/main/BetterSpotifyPlayer.css");
@import url("https://raw.githubusercontent.com/sang765/Discord-CSS-Snippets/main/Center%20Profile/CenterProfile.theme.css");
/* Addons ONLY work with Translucent and Anicord Theme */
@import url('https://raw.githubusercontent.com/sang765/Anicord-Theme/main/themes/ThemeAddons/IconColors.addon.css');
@import url('https://raw.githubusercontent.com/sang765/Anicord-Theme/main/themes/ThemeAddons/ClearVersionV6Icon.addon.css');
/* END */