/**
 * @name Anicord
 * @description Yes, this is another anime Discord theme. 
 * @author sangsdayy
 * @authorLink https://github.com/sang765
 * @version 1.5.8
 * @website https://github.com/sang765/Anicord-Theme
 * @source https://github.com/sang765/Anicord-Theme/blob/main/Anicord.theme.css
 * @authorId 926519119849869322
 * @updateUrl https://sang765.github.io/Anicord-Theme/Anicord.theme.css
*/

/* I add info theme for Vencord online theme. Please don't care it */

/* FONT IMPORT */
@import url('https://sang765.github.io/Anicord-Theme/themes/fonts.css');
/* ADDONS IMPORT */
@import url('https://sang765.github.io/Anicord-Theme/themes/addons.css');
/* THEME IMPORT */
@import url('https://sang765.github.io/Anicord-Theme/themes/main.css');