@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

@font-face {
    font-family: 'JetBrainsMono Nerd Font';
    src: url('https://cdn.jsdelivr.net/gh/sang765/Anicord-Theme@latest/assets/fonts/JetBrainsMonoNerdFont-Italic.ttf?cache-bust=1') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono Nerd Font';
    src: url('https://cdn.jsdelivr.net/gh/sang765/Anicord-Theme@latest/assets/fonts/JetBrainsMonoNerdFont-Italic.ttf?cache-bust=1') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono Nerd Font';
    src: url('https://cdn.jsdelivr.net/gh/sang765/Anicord-Theme@latest/assets/fonts/JetBrainsMonoNerdFont-Italic.ttf?cache-bust=1') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'JetBrainsMono Nerd Font';
    src: url('https://cdn.jsdelivr.net/gh/sang765/Anicord-Theme@latest/assets/fonts/JetBrainsMonoNerdFont-Italic.ttf?cache-bust=1') format('truetype');
    font-weight: normal;
    font-style: italic;
}