.sidebar_c25c6d [aria-controls=my-account-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/person.svg)
}
.sidebar_c25c6d [aria-controls=profile-customization-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/user_profile.svg)
}
.sidebar_c25c6d [aria-controls="privacy-&-safety-tab"].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/security.svg)
}
.sidebar_c25c6d [aria-controls=family-center-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/family.svg)
}
.sidebar_c25c6d [aria-controls=authorized-apps-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/apps.svg)
}
.sidebar_c25c6d [aria-controls=sessions-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/devices.svg)
}
.sidebar_c25c6d [aria-controls=connections-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/link.svg)
}
.sidebar_c25c6d [aria-controls=settings-clips-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/clips.svg)
}
.sidebar_c25c6d [aria-controls=friend-requests-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/person_add.svg)
}
.sidebar_c25c6d [aria-controls=discord-nitro-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/nitro.svg)
}
.sidebar_c25c6d [aria-controls=nitro-server-boost-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/server_boost.svg)
}
.sidebar_c25c6d [aria-controls=subscriptions-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/subscriptions.svg)
}
.sidebar_c25c6d [aria-controls=library-inventory-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/gift.svg)
}
.sidebar_c25c6d [aria-controls=billing-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/payment.svg)
}
.sidebar_c25c6d [aria-controls=appearance-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/camera.svg)
}
.sidebar_c25c6d [aria-controls=accessibility-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/accessibility.svg)
}
.sidebar_c25c6d [aria-controls="voice-&-video-tab"].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/mic.svg)
}
.sidebar_c25c6d [aria-controls="text-&-images-tab"].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/chat.svg)
}
.sidebar_c25c6d [aria-controls=notifications-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/notifications.svg)
}
.sidebar_c25c6d [aria-controls=keybinds-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/keyboard.svg)
}
.sidebar_c25c6d [aria-controls=language-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/language.svg)
}
.sidebar_c25c6d [aria-controls=windows-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/windows.svg)
}
.sidebar_c25c6d [aria-controls=linux-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/linux.svg)
}
.sidebar_c25c6d [aria-controls=streamer-mode-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/videocam.svg)
}
.sidebar_c25c6d [aria-controls=advanced-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/bug.svg)
}
.sidebar_c25c6d [aria-controls=activity-privacy-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/controller-off.svg)
}
.sidebar_c25c6d [aria-controls=game-activity-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/games.svg)
}
.sidebar_c25c6d [aria-controls=overlay-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/aspect_ratio.svg)
}
.sidebar_c25c6d [aria-controls=changelog-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/history.svg)
}
.sidebar_c25c6d [aria-controls=hypesquad-online-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/hypesquad.svg)
}
.sidebar_c25c6d [aria-controls=overview-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/info.svg)
}
.sidebar_c25c6d [aria-controls=roles-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/flag.svg)
}
.sidebar_c25c6d [aria-controls=emoji-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/emoji.svg)
}
.sidebar_c25c6d [aria-controls=stickers-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/sticker.svg)
}
.sidebar_c25c6d [aria-controls=soundboard-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/music.svg)
}
.sidebar_c25c6d [aria-controls=widget-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/widgets.svg)
}
.sidebar_c25c6d [aria-controls=guild_templates-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/website.svg)
}
.sidebar_c25c6d [aria-controls=vanity_url-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/link_plus.svg)
}
.sidebar_c25c6d [aria-controls=integrations-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/puzzle.svg)
}
.sidebar_c25c6d [aria-controls=moderation-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/security.svg)
}
.sidebar_c25c6d [aria-controls=safety-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/security.svg)
}
.sidebar_c25c6d [aria-controls=guild_automod-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/robot.svg)
}
.sidebar_c25c6d [aria-controls=audit_log-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/list.svg)
}
.sidebar_c25c6d [aria-controls=bans-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/hammer.svg)
}
.sidebar_c25c6d [aria-controls=community-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/people.svg)
}
.sidebar_c25c6d [aria-controls=onboarding-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/rocket_launch.svg)
}
.sidebar_c25c6d [aria-controls=analytics-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/insights.svg)
}
.sidebar_c25c6d [aria-controls=partner-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/handshake.svg)
}
.sidebar_c25c6d [aria-controls=discovery-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/explore.svg)
}
.sidebar_c25c6d [aria-controls=community_welcome-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/waving_hand.svg)
}
.sidebar_c25c6d [aria-controls=guild_premium-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/server_boost.svg)
}
.sidebar_c25c6d [aria-controls=role_subscriptions-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/subscriptions.svg)
}
.sidebar_c25c6d [aria-controls=members-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/group.svg)
}
.sidebar_c25c6d [aria-controls=instant_invites-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/person_add.svg)
}
.sidebar_c25c6d [aria-controls=permissions-tab].item_a0:before {
    background-image: url(https://clearvision.github.io/icons/rule.svg)
}
.sidebar_c25c6d .vc-settings.item_a0:before {
    background-image: url(https://clearvision.github.io/icons/vencord.svg)
}
.sidebar_c25c6d .vc-plugins.item_a0:before {
    background-image: url(https://clearvision.github.io/icons/puzzle.svg)
}
.sidebar_c25c6d .vc-themes.item_a0:before {
    background-image: url(https://clearvision.github.io/icons/palette.svg)
}
.sidebar_c25c6d .vc-updater.item_a0:before {
    background-image: url(https://clearvision.github.io/icons/sync.svg)
}
.sidebar_c25c6d .vc-cloud.item_a0:before {
    background-image: url(https://clearvision.github.io/icons/cloud_sync.svg)
}
.sidebar_c25c6d .vc-backup-restore.item_a0:before {
    background-image: url(https://clearvision.github.io/icons/file_archive.svg)
}
.sidebar_c25c6d .bd-settings-tab.item_a0:before {
    background-image: url(https://clearvision.github.io/icons/betterdiscord.svg)
}
.sidebar_c25c6d .bd-updates-tab.item_a0:before {
    background-image: url(https://clearvision.github.io/icons/sync.svg)
}
.sidebar_c25c6d .bd-customcss-tab.item_a0:before {
    background-image: url(https://clearvision.github.io/icons/code_braces.svg)
}
.sidebar_c25c6d .bd-plugins-tab.item_a0:before {
    background-image: url(https://clearvision.github.io/icons/puzzle.svg)
}
.sidebar_c25c6d .bd-themes-tab.item_a0:before {
    background-image: url(https://clearvision.github.io/icons/palette.svg)
}