/**
 * @name Addon: Icon Colors
 * @version 2.0
 * @description This is icon color addon for theme has var(--accent-hsl)
 * @author sangsdayy
 * @source https://github.com/sang765/Anicord-Theme/blob/main/themes/ThemeAddons/IconColors.addon.css
 * @website https://github.com/sang765/Anicord-Theme
 * @authorId 926519119849869322
 */

/*î¬¦ NOTE: This is for Vencord, if you want colored BetterDiscord side and pull this*/

/*COLOR ICON*/
/*Toolbar*/
[class^=upperContainer] path,
/*Message Box*/
form [d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7v-5z"],
form [d="M18 10.7101C15.1085 9.84957 13 7.17102 13 4c0-.30736.0198-.6101.0582-.907C12.7147 3.03189 12.3611 3 12 3 8.686 3 6 5.686 6 9v5c0 1.657-1.344 3-3 3v1h18v-1c-1.656 0-3-1.343-3-3v-3.2899ZM8.55493 19c.693 1.19 1.96897 2 3.44497 2s2.752-.81 3.445-2H8.55493ZM18.2624 5.50209 21 2.5V1h-4.9651v1.49791h2.4411L16 5.61088V7h5V5.50209h-2.7376Z"],
form [class^="vc-trans-icon"],
form [d="M 32 9 C 24.832 9 19 14.832 19 22 L 19 27.347656 C 16.670659 28.171862 15 30.388126 15 33 L 15 49 C 15 52.314 17.686 55 21 55 L 43 55 C 46.314 55 49 52.314 49 49 L 49 33 C 49 30.388126 47.329341 28.171862 45 27.347656 L 45 22 C 45 14.832 39.168 9 32 9 z M 32 13 C 36.963 13 41 17.038 41 22 L 41 27 L 23 27 L 23 22 C 23 17.038 27.037 13 32 13 z"],
form [clip-path^="url(#__lottie_element"],
/*User Area*/
[class^="panels"] [class^="flex"] path,
/*Channel Icon*/
[class^="scroller"] [class^=icon] path,
[class^=buttonContainer] [class^=buttonsInner] [class*=button_] [class^=vc-] path,
[class^=buttonContainer] [class^=buttonsInner] [class*=button_] [fill="currentColor"] path,
[class^=buttonContainer] [class^=buttonsInner] [class*=button_] [class^=eq-] path {
  	color: hsl(var(--accent-hsl));
}
.vc-trans-auto-translate {
    	color: var(--green-360) !important;
}
[class^=menu] [d="M9.58473 14.8636L6.04944 11.4051L4.50003 12.9978L9.58473 18L19.5 8.26174L17.9656 6.64795L9.58473 14.8636Z"] {
	color: white !important;
}
[class^="scroller"] [class*=colorDanger_] path,
[class^=buttonContainer] [class^=buttonsInner] [class*=dangerous_] path {
	color: var(--status-danger);
}
[class^=buttonContainer] [class^=buttonsInner] [class*=button_] path[stroke] {
	stroke: hsl(var(--accent-hsl));
}
/*FILL COLOR*/
/*Message Box*/
form [xmlns="http://www.w3.org/2000/svg"] [fill="#b5bac1"],
form [fill="var(--interactive-normal)"],
form [class="vc-more-stickers-icon"],
/*Channel Icon*/
[class^="scroller"] [class^="actionIcon"] path {
  	fill: hsl(var(--accent-hsl));
}
form [class*="spriteGreyscale"] {
	background-color: hsl(var(--accent-hsl));
}
