/* Icon Color */
[class^=upperContainer] path,
[class^=scroller] [class^=icon],
[class^=panels] [class^=flex] svg,
[class^=bottomControls] [class*=justifyStart] svg,
[class^=bottomControls] [class*=justifyEnd] svg,
[class^=link] [class^=children] path,
[class^=channelBottomBarArea] path,
[class^=buttonContainer] div,
[class^=peopleList] [class^=listItemContents] [class^=actions] svg,
[class^=sidebarContainer] [class^=categoryItem] [class^=avatar] {
  color: hsl(var(--accent-hsl));
}
[class^=link] [class^=children] path,
[class^=channelBottomBarArea] path {
  fill: hsl(var(--accent-hsl));
}
[class^=channelBottomBarArea] [class*=spriteGreyscale] {
  background-color: hsl(var(--accent-hsl));;
}